<!DOCTYPE html>
<html>
<head>
  <title>Doctors List</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="navbar-container"></div>
  <script>
    fetch("navbar.html")
      .then(response => response.text())
      .then(data => document.getElementById("navbar-container").innerHTML = data);
  </script>
  

<h1>Doctors List</h1>
<input type="text" id="search" placeholder="Search by Name or Specialization" onkeyup="searchDoctors()">
<div id="doctors-list"></div>

<script src="script.js"></script>
<script>
window.onload = showDoctors;
</script>
</body>
</html>
